*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(213, 84, 84);
}

.titulo{
    font-size: 20px;
    font-family: 'Times New Roman';
    color: black;
}

.container {
    display: flex;
}

header{
    background-color: cadetblue;
    height: 20%;
    font-size: 28px;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
}


section {
    flex: 1;
    border: 1px solid black;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: blanchedalmond;
    height: 400px;
}

aside {
    background-color: antiquewhite;
    padding: 100px;
    margin: 20px;
    flex: 1;
    border: 1px solid black;
    padding: 10px;
    border-radius: 20px;
}

label{
    margin: 45px;
    border: 1px solid black;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    background-color: black;
    color: white;
}

select{
    width: 100px;
    height: 30px;
    border: 1px solid black;
    border-radius: 10px;
}

#btnGenerar{
    border-radius: 10px;
    width: 100px;
    height: 50px;
}