
*{
    padding: 0;
    margin: 0;
}

/* Etiquetas*/

body{
    background-color: burlywood;
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    padding: 10px;
}

header{
    padding: 50px;
    background-color: chocolate;
    text-align: center;
}

section{
    background-color: khaki;
    flex: 60%;
    padding: 20px;
}

aside{
    background-color: antiquewhite;
    flex: 40%;
    padding: 20px;
}

footer{
    padding: 20px;
    text-align: center;
    background-color: wheat;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

#btnLimpiar{
    width: 150px;
    height: 50px;
}

#btnCalcular{
    width: 150px;
    height: 50px;
}