*{
    padding: 0;
    margin: 0;
}

body{
    height: 1200px;
    width: 1100px;
    background-color: rgb(82, 184, 150);
    flex-wrap: wrap;
}

section{
    border: 1px solid black;
    border-radius: 10px;
    height: 60%;
    width: 40%;
    font-family: Tahoma;
    font-size: 20px;
    background-color: cadetblue;
    margin: 20px;
    padding: 20px;
    text-align: justify;
}

aside{
    border: 1px solid black;
    border-radius: 10px;
    height: 30%;
    width: 30%;
    background-color: cornflowerblue;
    padding: 20px;
}

input{
    margin-bottom: 20px;
}

button{
    margin: 20px;
    width: 150px;
    height: 50px;
    background-color: rgb(61, 221, 146);
    border-radius: 10px;
}

li{
    list-style: none;
}

#texto{
    font-size: 16px;
    text-align: justify;
    margin: 0 30px;
}

#imagen{
    width: 200px;
}

#descripcion{
    font-size: 16px;
}