*{
    padding: 0;
    margin: 0;
}

body{
    
    background-image: url(/img/fondoIndex.jpeg);
    font-family: 'Times New Roman', Times, serif;
    margin: 40px;
    padding: 10px;
}

h3{
    font-size: 24px;
}

a{
    font-size: 16px;
    font-family: Tahoma;
}