
body{
    background-color: rgb(149, 149, 213);
}

img{
    width: 100px;
    height: 100px;
}

section{
    margin: auto;
    width: 75%;
    height: 70%;
    background-color: blanchedalmond;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
}

header{
    margin: 5px;
    width: 75%;
    height: 40%;
    background-color: rgb(216, 159, 85);
    border: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

.cmb{
    width: 100px;
    height: 25px;
    font-size: 16px;
    border-radius: 20px;
}

.texto{
    font-size: 24px;
}

#btnTabla{
    width: 100px;
    height: 75px;
    margin: 20px;
    border-radius: 20px;
}